{% extends "_layouts/cp.twig" %}

{% set title = "Cookie acceptance statistics"|t('app') %}
{% set selectedSubnavItem = 'defaults' %}

{% set crumbs = [
    { label: 'Cookie acceptance statistics', url: '#' }
] %}

{% block contextMenu %}
    {% if selectedSubnavItem == 'defaults' %}
        {% include 'cookie-banner/_cp/_sites.twig' %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if cookiesPresent|length %}
        <div id="dashboard-grid" class="grid">
            <div class="item" data-colspan="3">
                <div class="front">
                    <div class="pane">
                        <div class="body">
                            <h2 style="margin-bottom: 0;">{{ 'Cookies'|t }}</h2>
                            <p style="font-size: 0.7rem; margin-top: 0;">{{ 'Cookie statistics are being tracked since'|t }} {{ firstRecordDate}}</p>
                            {% include('cookie-banner/_cp/_widgets/_total_cookies.twig')|raw %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" data-colspan="3">
                <div class="widget">
                    <div class="front">
                        <div class="pane">
                            <div class="body">
                                {% include('cookie-banner/_cp/_widgets/_table.twig')|raw %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div>{{ 'No data present in database yet'|t }}</div>
    {% endif %}
{% endblock %}

{% set columnsVotes = [
    { name: '__slot:title', title: "Period per site" },
    { name: 'accepted', title: 'Accepted' },
    { name: 'denied', title: 'Denied' },
    { name: 'settings', title: "Settings" },
] %}
{% set actions = [] %}
{% set endpoint = '/admin/cookie-banner/statistics/table-view/' ~ selectedSite.id %}

{% js %}
    new Craft.VueAdminTable({
        container: '#cookie-table',
        columns: {{ columnsVotes|json_encode|raw }},
        tableDataEndpoint: "{{ endpoint }}" ,
        checkboxes:  0,
        allowMultipleSelections: false,
        perPage: 100,
        actions: {{ actions|json_encode|raw }},
    });
{% endjs %}
