<div class="hidden cookiebanner" id="cookiebanner" role="dialog" aria-modal="true" aria-labelledby="cookie_banner_title" tabindex="-1">
    <div class="cookiebanner__content">
        <h1 id="cookie_banner_title">
            {{ "Deze website gebruikt cookies"|t('cookie-banner') }}
        </h1>
        <div class="cookiebanner__notice">
            {{ 'Door op “Alle cookies aanvaarden” te klikken ga je akkoord met het opslaan van cookies om je een betere gebruikerservaring te bieden en websitegebruik te analyseren. Noodzakelijke cookies zijn essentieel om de website goed te doen functioneren en kan je niet weigeren. Door op "Cookie-instellingen" te klikken kan je je voorkeuren beheren.'|t('cookie-banner') }}
        </div>
        <div class="cookiebanner__actions">
            <a href="#" class="btn btn--primary cookiebanner__accept js-cookie-accept notranslate">{{ 'Alle cookies aanvaarden'|t('cookie-banner') }}</a>
            <a href="#" class="cookiebanner__essentials js-cookie-essentials notranslate">{{ 'Noodzakelijke cookies aanvaarden'|t('cookie-banner') }}</a>
            <a href="#" class="cookiebanner__settings js-cookie-settings notranslate">{{ 'Cookieinstellingen'|t('cookie-banner') }}</a>
        </div>
    </div>
</div>
