<div class="hidden cookiebanner" id="cookiebanner" role="dialog" aria-modal="true" aria-labelledby="cookie_banner_title" tabindex="-1">
    <div class="cookiebanner__content">
        <h1 id="cookie_banner_title">
            {{ "Deze website gebruikt cookies"|t('cookie-banner') }}
        </h1>
        <div class="cookiebanner__notice">
            {{ 'Door op "Alle cookies aanvaarden" te klikken ga je akkoord met het opslaan van onze cookies op je computer. Zo kunnen we een betere gebruikservaring bieden, en het laat ons toe om het gebruik van de website te analyseren. Door op ‘Je voorkeuren aanpassen’ te klikken kan je kiezen welke cookies je toelaat. Enkel de essentiële cookies zijn noodzakelijk voor de goede werking van de website en kan je niet weigeren'|t('cookie-banner') }}
        </div>
        <div class="cookiebanner__actions">
            <a href="#" class="btn btn--primary cookiebanner__accept js-cookie-accept notranslate">{{ 'Alle cookies aanvaarden'|t('cookie-banner') }}</a>
            <a href="#" class="cookiebanner__essentials js-cookie-essentials notranslate">{{ 'Enkel essentiële cookies aanvaarden'|t('cookie-banner') }}</a>
            <a href="#" class="cookiebanner__settings js-cookie-settings notranslate">{{ 'Je voorkeuren aanpassen'|t('cookie-banner') }}</a>
        </div>
    </div>
</div>
