<div class="hidden cookie-modal" id="cookieModal" role="dialog" aria-modal="true" aria-labelledby="cookie_settings_title" tabindex="-1">
    <div class="cookie-modal__content">
        <button class="cookie-modal__close-action js-modal-close-btn notranslate">
            <span class="sr-only">{{ "Sluit cookie instellingen"|t('cookie-banner')}}</span>
        </button>
        <h1 id="cookie_settings_title">{{ 'Cookie-instellingen'|t('cookie-banner') }}</h1>
        <p>
            {{ 'Onze website bewaart vier soorten cookies. Je kan zelf op elk moment kiezen welke je aanvaardt en welke niet. Meer informatie over wat cookies zijn en welke types cookies we verzamelen kan je lezen in ons <a href="{cookieLink}" target="_blank" class="underline hover:no-underline">cookiebeleid</a>.'|t('cookie-banner',{cookieLink: cookiePage.getUrl() ?? craft.entries.section('cookiePolicy').one().getUrl() ?? ''})|raw }}
        </p>
        <div class="cookie-modal__actions">
            <a href="#" class="btn btn--primary js-cookie-accept notranslate">{{ 'Alle cookies aanvaarden'|t('cookie-banner') }}</a>
        </div>
        <h2>{{ 'Je voorkeuren aanpassen'|t('cookie-banner') }}</h2>
        <form>
            <div class="cookie-modal__options">
                <div class="cookie-modal__checks">
                    <input class="js-cookie-essential" type="checkbox" name="essential" id="essential" disabled="disabled" checked="checked">
                    <label for="essential">{{ 'Essentiële cookies'|t('cookie-banner') }}</label>
                </div>
                <div class="cookie-modal__description">
                    {{ 'zijn om technische redenen noodzakelijk voor de goede werking. Zonder deze cookies zou het kunnen dat de website niet naar behoren functioneert.'|t('cookie-banner') }}
                </div>
            </div>
            <div class="cookie-modal__options">
                <div class="cookie-modal__checks">
                    <input class="js-cookie-essential" type="checkbox" name="essential" id="essential" disabled="disabled" checked="checked">
                    <label for="essential">{{ 'Functionele cookies'|t('cookie-banner') }}</label>
                </div>
                <div class="cookie-modal__description">
                    {{ 'zijn noodzakelijk voor bepaalde functies op de website. Zonder deze cookies kunnen sommige onderdelen onbruikbaar worden.'|t('cookie-banner') }}
                </div>
            </div>
            <div class="cookie-modal__options">
                <div class="cookie-modal__checks">
                    <input class="js-cookie-performance" type="checkbox" name="CookiePerformance" id="performance" value="2">
                    <label for="performance">{{ 'Analytische cookies'|t('cookie-banner') }}</label>
                </div>
                <div class="cookie-modal__description">
                    {{ 'laten ons toe om het gebruik van de website anoniem te analyseren en de gebruikservaring te verbeteren.'|t('cookie-banner') }}
                </div>
            </div>
            <div class="cookie-modal__options">
                <div class="cookie-modal__checks">
                    <input class="js-cookie-marketing" type="checkbox" name="CookieMarketing" id="marketing" value="3">
                    <label for="marketing">{{ 'Marketingcookies'|t('cookie-banner') }}</label>
                </div>
                <div class="cookie-modal__description">
                    {{ 'hebben als doel het personaliseren van de gebruikservaring en het tonen van relevante inhoud en aanbiedingen op deze en andere websites.'|t('cookie-banner') }}
                </div>
            </div>
        </form>
        <div class="cookie-modal__actions">
            <button href="#" class="btn btn--primary js-modal-close notranslate">{{ 'Mijn keuze bewaren'|t('cookie-banner') }}</button>
        </div>
    </div>
</div>
