<div class="flex w-full" style="justify-content: space-evenly; gap: 0.25rem; margin: 1rem 5rem 0 5rem;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 33%;">
        <h2 class="h1" style="font-size: 24px; margin-bottom: 0; margin-top: 0.25rem;">{{ acceptedCookies }}</h2>
        <h3 class="underline screen-title" style="margin-bottom: 0;">{{ 'Accepted' }}</h3>
        <p style="text-align: center; font-size: 0.7rem;">
            {{ 'Amount of times '|t }}
            <br>
            <span><strong>{{ 'accept all cookies'|t }}</strong></span>
            <br>
            {{ 'was clicked on'|t }}
        </p>
    </div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 33%;">
        <h2 class="h1" style="font-size: 24px; margin-bottom: 0; margin-top: 0.25rem;">{{ deniedCookies }}</h2>
        <h3 class="underline screen-title" style="margin-bottom: 0; margin-top: 0.25rem;">{{ 'Denied' }}</h3>
        <p style="text-align: center; font-size: 0.7rem;">
            {{ 'Amount of times '|t }}
            <br>
            <span><strong>{{ 'accept only necessary cookies'|t }}</strong></span>
            <br>
            {{ 'was clicked on'|t }}
        </p>
    </div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 33%;">
        <h2 class="h1" style="font-size: 24px; margin-bottom: 0; margin-top: 0.25rem;">{{ settingCookies }}</h2>
        <h3 class="underline screen-title" style="margin-bottom: 0; margin-top: 0.25rem;">{{ 'Settings' }}</h3>
        <p style="text-align: center; font-size: 0.7rem;">
            {{ 'Amount of times '|t }}
            <br>
            <span><strong>{{ 'adjust your preferences'|t }}</strong></span>
            <br>
            {{ 'was clicked on'|t }}
        </p>
    </div>
</div>
